*{
    margin: 0;
    box-sizing: border-box;
}
.main{
    background-color: #f6f6f6;
}
.menuBar{
    display:flex;
    justify-content: space-between;
    background: url("../Images/bgImage.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
nav{
    margin: 40px 35px 0px 35px;
}

nav ul li{
    list-style-type: none;
    display: inline;
    margin: 15px

}
nav ul li a{
    text-decoration: none;
    color: #a7a7a5;
}
.logo p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    color:white;
}
.logo{
    margin: 35px 0px 0px 25px
}
.text{
    position: absolute;
    top:300px;
    left:35px;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text p{
    width: 350px;
    font-size: 10px;
    color: #a7a7a7;
}
h1{
    font-size: 37px;
}
.btn{
    width: 190px;
    height: 35px;
    background-color: #2a4469;
    border: none;
    color: white;
    margin-top: 20px;
    border-radius: 5px;
}
.firstBlock{
width: 90%;
    height: 400px;
    background-color: white;
    margin: 0 auto;
    position: relative;
        bottom: 40px;
        border-radius: 10px;
}
.heading{
    display: flex;
    justify-content: center;  
}
.heading h2{
    margin-top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.blocks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;

}
.block1, .block2, .block3{
    width: 350px;
    text-align: center;
}
.block1 p, .block2 p, .block3 p{
    color: #a7a7a7;
    margin-top:20px;
}
.block2{
    margin: 0px 30px 0px 30px
}
.block1 h4,
.block2 h4,
.block3 h4 {
    margin-top: 30px;
}
.text2{
    margin: 70px 0px 90px 50px;
}
.text2 p{
    color: #a7a7a7;
    font-size: 18px;
}
.text2 h2{
    font-size: 40px;
}
.circles{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding:60px;
    text-align: center;
    margin-bottom: 100px;
}
.circle1{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-image: linear-gradient(#8dd3ff 0%, #8dd3ff 50%, #5294bd 50%, #5294bd 100%);
    margin-left: 120px;
}
.circle2{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-image: linear-gradient(#8dd3ff 0%, #8dd3ff 40%, white 25%, white 60%, #5294bd 50%, #5294bd 100%);
    transform: rotate(90deg);
    margin-left: 120px;
}

.circleOne p, .circleTwo p, .circleThree p {
    color: #a7a7a7;
    margin-top:10px;
}

.circle h2{
    margin-top:40px;
}
.circle span a{
    color: black;
}
.circle{
    width: 300px;
}
.testimonial p{
    color: #a7a7a7;
}
.testimonial{
    margin-left: 50px
}
.testimonial h3{
    font-size: 22px;
}
.picture{
   margin-top: 60px;
   display:flex;
}
.image{
    width: 200px;
    position: relative;
    left: 100px
}
.image img{
    width: 100%;
    border-radius:50%;
    height: 200px;
}
.quotation{
    width: 500px;
    background-color:white;
    margin-left: 300px;
}
